@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   min-width: 100%;
   min-height: 100%;
 
}

main{
    font-family: 'Open Sans';

    border: 2px red solid;
    background: linear-gradient(to bottom, #1d539e 0, #1d539e 50%, #f9fbfc 20%);
    padding: 5% 3% 0%;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0px 0px;
}



.text{
    padding-top: 100px;
    text-align: center;
    color: #ffffff;


}
.text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    
}



.flex{
   
    display: flex;
    flex-wrap: wrap;
    padding: 47px 6px;
    justify-content: space-around;
}


.card{
    gap: 0.5vh;
    padding: 13px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 355px;
    min-height: 470px;


    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    border-radius: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #1E2338;

}
.card h2{

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #1E2338;

    
}


.card .price{
    margin: 0px 0;
}

.card .price span{
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */


    color: #1E2338;

}
.card .price .span-low{
    font-size: 25px;
    
}
/*
.card ul{
    margin: 40px 0;
}
*/

.card ul li{
    list-style: none;
    padding: 10px 0;

}

.card ul li img{
    padding-right: 10px; 

}

.card button{

    margin-top: 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 120px;
    gap: 10px;

    border: 1px solid #1D539E;
    border-radius: 10px;


    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    
}
button a{
    padding: 2px 30px;
    font-style: none;
}


#card-free{
    background-color: olive;
}

#card-basico{
    background: linear-gradient(to bottom, #ffcc29 0, #ffcc29 13%, #ffffff 11%);

}

#card-basico .header-basico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#card-basico .header-basico span{
    background-color: #1D539E;
    border-radius: 40px;
    color: #ffffff;

    padding: 7px 30px;
    margin-bottom: 15px;



    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;


}

#card-basico button{
    background-color: #1D539E;
    color: #ffffff;
}

#card-profissional{
    background-color: slategray;
}
